<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Modelo Node/Vercel</title>
    <link rel="stylesheet" href="assets/css/style.css">
</head>

<body>
    <p>Renderização bem sucedida!</p>
    <script src="main.js"></script>
</body>

</html>